/* main text color #212121 */

/* secondary test color #757575 */

/* text white color #FFFFFF */

/* action color #2196F3 */

/* footer adress color rgba(255, 255, 255, 0.6); */

/* bg main color #FFFFFF */

/* bg secondary color #F5F4FA */

/* team list bg #FFFFFF */

/* footer bg color #2F303A  */

/* Hero bg color #2F303A */

/* Global */

:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --text-white-color: #ffffff;
  --action-color: #2196f3;
  --footer-adress-color: rgba(255, 255, 255, 0.6);
  --bgc-main: #ffffff;
  --bgc-secondary: #f5f4fa;
}

body {
  font-family: roboto, raleway, sans-serif;
  background-color: #ffffff;
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

/* header */

.nav .link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
}

.contact .link {
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}

.nav .link:hover,
.nav .link:focus,
.contact .link:hover,
.contact .link:focus {
  color: var(--action-color);
}

/* footer */

.footer {
  /* добавлено для корректного отображения цвета шрифта телефона и мейла в футере */
  background-color: #2f303a;
}
.footer-adress {
  font-size: 14px;
}

.footer-adress-list-item-contact {
  color: var(--footer-adress-color);
  text-decoration: none;
}

.footer-adress-list-item-adress {
  color: var(--text-white-color);
  text-decoration: none;
}

.footer-adress a:focus,
.footer-adress a:hover {
  color: var(--action-color);
}

/* main */

.logo {
  text-decoration: none;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--action-color);
}

.logo .header-logo {
  color: #000000;
}

.logo .footer-logo {
  color: var(--text-white-color);
}

.buttons-filter {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
  background-color: var(--bgc-secondary);
}

.cases h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cases p {
  font-size: 16px;
  color: var(--secondary-text-color);
}

.hero {
  /* добавлено, поскольку белый шрифт заголовка героя */
  background-color: #2f303a;
}

.hero-title {
  font-size: 44px;
  color: var(--text-white-color);
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;
  background-color: var(--action-color);
  letter-spacing: 0.06em;
  font-family: inherit;
  font-weight: 700;
  color: var(--text-white-color);
  /* ради интереса вровнял кнопку */
  margin: 0 auto;
  display: block;
}

.section-title {
  font-size: 36px;
  line-height: 1.17;
}

.team-list-item h3 {
  line-height: 1.19;
  font-size: 16px;
  font-weight: 500;
}

.team-list-item p {
  line-height: 1.19;
  font-size: 16px;
  color: var(--secondary-text-color);
}

.privelege-list p {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

.privelege-list-item {
  font-size: 14px;
  line-height: 1.14;
}

.buttons-filter:focus,
.buttons-filter:hover {
  background-color: var(--action-color);
}

/* !убрать все точки со списков */

.nav,
.contact,
.privelege-list,
.promo-list,
.team-list,
.buttons,
.cases-list,
.footer-adress-list {
  list-style: none;
}
